:root {
  --textcolor: white;
  --backgroundcolor: #1e1e1e;
}

body {
  margin: 0; 
  padding: 0;
  font-family: futura-pt, sans-serif;
  background-color: var(--backgroundcolor);
  color: var(--textcolor);
}

#header {
  font-weight: 900;
  margin: 0 auto;
  font-size: 90px;
  color: #2975bb;
  margin-bottom: 25px;
}

#container {
  width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 25px;
}

.infographic {
  display: flex;
  margin-bottom: 40px;
}

.infographicchart {
  width: 300px;
}

.infographictxt {
  font-size: 40px;
}


#plans, #analysis {
  display: flex;
  justify-content: space-between;
}

#plans {
  padding-top: 20px;
}

#plan1, #plan2, #plan3 {
  background-color: #3a3a3a;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#plan1, #plan2, #plan3, #p1a, #p2a, #p3a {
  width: 240px;
  text-align: left;
}

#p1a, #p2a, #p3a {
  color: white;
}

#plan1 {
  color: #e84d56;
}

#plan2 {
  color: #23b67b;
}

#plan3 {
  color: #f2ca15;
}

.plantext {
  font-size: 40px;
  font-weight: 900;
}

.costtext {
  font-size: 20px;
  padding-top: 36px;
}

a {
  text-decoration: none;
  color: var(--textcolor);
  font-size: 25px;
}

a:hover {
  text-decoration: underline;
  color: #8671d3;
}

.alreadyowned {
  color: #888888;
  font-size: 25px;
}

.alreadyowned:hover {
  color: #22aa3b;
}

.planandcost {
  display: flex;
  justify-content: space-between;
}

.bluebar {
  background-color: #2975bb;
  height: 2px;
  width: 100%;
}




@media only screen and (max-width: 1000px) {
  #container {
    width: 600px;
  }

  #header {
    font-size: 60px;
  }

  .infographictxt {
    font-size: 30px;
  }

  .infographicchart {
    width: 180px;
    height: 165px;
  }

  .infographic {
    align-items: center;
  }

  #plan1, #plan2, #plan3 {
    width: 140px;
  }

  .plantext {
    font-size: 30px;
  }

  .costtext {
    font-size: 12px;
  }

  a, .alreadyowned {
  font-size: 20px
}


}